/* Display each pokemon (with its button) on seperate columns */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid red;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
}

/* Line up the pokemon name and button on both corners */
li {
  display: flex;
  padding: 10px;
  font-size: 22px;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background: #8c5448;
  border-radius: 5px;
}

/* Align title with container */
.pokemon-container {
  text-align: center;
}

.btn {
  background: #4c4e52;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal-container {
  display: none;
  text-align: center;
  background: #fff;
  z-index: 999;
  opacity: 1;
  border: 1px solid black;
  width: 40%;
  margin: 0 auto;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.modal-container h1 {
  margin: 0;
}

.is-visible {
  display: grid;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 40%;
  left: 30%;
}

.modal-container p {
  font-size: 22px;
}

#pokemon-features {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

img {
  height: 135px;
  width: 135px;
}

#close-modal-btn {
  border: 1px solid black;
  background: none;
  width: min-content;
  position: fixed;
  border-radius: 10px;
  font-size: 20px;
  top: 42%;
  left: 67%;
}

#close-modal-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Media queires */

@media all and (max-width: 950px) {
  #close-modal-btn {
    position: fixed;
    top: 42%;
    left: 66%;
  }
}

@media all and (max-width: 750px) {
  #close-modal-btn {
    margin-left: 2px;
    position: fixed;
    top: 44%;
    left: 65%;
  }
}

@media all and (max-width: 550px) {
  .btn {
    font-size: 18px;
  }

  li {
    font-size: 20px;
  }

  .modal-container h1 {
    font-size: 22px;
  }

  #close-modal-btn {
    position: fixed;
    top: 42%;
    left: 63%;
  }
}
