body {
  background-color: #4c4e52;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid red;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}
.pokemon-list {
  margin-top: 120px;
}
li {
  display: flex;
  padding: 10px;
  color: #fff;
  font-size: 22px;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background: #8c5448;
  border-radius: 5px;
}
img {
  height: 135px;
  width: 135px;
}
.modal-content {
  text-align: center;
}
.modal-header {
  color: #7393b3;
}
.modal-title {
  margin-left: 33%;
}
.modal-footer {
  display: block;
}
.modal-body {
  font-size: 30px;
  color: #4c4e52;
}
.modal-body span {
  color: #7393b3;
}
.navbar-brand {
  margin-left: 10px;
  font-size: 30px;
}
@media all and (max-width: 605px) {
  .btn {
    font-size: 14px;
  }
  li {
    font-size: 16px;
  }
}
@media all and (max-width: 550px) {
  li {
    font-size: 16px;
  }
}
@media all and (max-width: 515px) {
  .btn-dark {
    font-size: 12px;
    padding: 4px;
  }
}
@media all and (max-width: 465px) {
  li {
    font-size: 14px;
  }
}
